In [17]:
import pandas as pd

In [18]:
muertes = pd.read_csv('data_to_tasas.csv')
poblacion = pd.read_excel('POB-M40-MUNCOL-2009-2023.xlsx')
muertes = muertes.drop(columns=['Unnamed: 0'])

muertes = muertes.rename(columns={'Nombre_Departamento_Def': 'DPNOM', 'año_def': 'ANIO', 'Nombre_Municipio_Def': 'DPMP'}).copy()
equivalencias = {
    'SANTAFE DE BOGOTA D.C': 'BOGOTA DC',
    'BOGOTÁ, D.C.': 'BOGOTA DC',
    'ARCHIPIELAGO DE SAN ANDRES PROVIDENCIA Y SANTA CATALINA': 'ARCHIPIÉLAGO DE SAN ANDRÉS',
    'BOLIVAR': 'BOLÍVAR',
    'BOYACA': 'BOYACÁ',
    'ATLANTICO': 'ATLÁNTICO',
    'CORDOBA': 'CÓRDOBA',
    'GUAINIA': 'GUAINÍA',
    'GUAVIARE': 'GUAVIARE',
    'VAUPES': 'VAUPÉS',
    'VICHADA': 'VICHADA',
    'NORTE DE SANTANDER': 'NORTE DE SANTANDER',
    'CHOCÓ': 'CHOCÓ'
}

muertes['DPNOM'] = muertes['DPNOM'].replace(equivalencias)
poblacion['DPNOM'] = poblacion['DPNOM'].replace(equivalencias)
condicion = (muertes['DPNOM'] == 'BOGOTA DC') | (muertes['Nombre_Departamento_Res'] == 'BOGOTA DC')

In [42]:
# Aplicar los cambios a las columnas DPNOM y Nombre_Departamento_Res para las filas que cumplen la condición
muertes.loc[condicion, ['DPNOM', 'Nombre_Departamento_Res']] = 'CUNDINAMARCA'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'BUENAVISTA'), 'DPNOM'] = 'SUCRE'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'CALI'), 'DPNOM'] = 'VALLE DEL CAUCA'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'CARTAGENA DE INDIAS'), 'DPNOM'] = 'BOLÍVAR'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'CHAPARRAL'), 'DPNOM'] = 'TOLIMA'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'CHINAVITA'), 'DPNOM'] = 'BOYACÁ'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'CHIRIGUANÁ'), 'DPNOM'] = 'CESAR'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'DUITAMA'), 'DPNOM'] = 'BOYACÁ'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'ENVIGADO'), 'DPNOM'] = 'ANTIOQUIA'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'GARZÓN'), 'DPNOM'] = 'HUILA'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'IBAGUÉ'), 'DPNOM'] = 'TOLIMA'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'MANIZALES'), 'DPNOM'] = 'CALDAS'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'MELGAR'), 'DPNOM'] = 'TOLIMA'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'PEREIRA'), 'DPNOM'] = 'RISARALDA'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'POPAYÁN'), 'DPNOM'] = 'CAUCA'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'PUERTO LÓPEZ'), 'DPNOM'] = 'META'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'TUNJA'), 'DPNOM'] = 'BOYACÁ'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'VALLEDUPAR'), 'DPNOM'] = 'CESAR'
muertes.loc[(muertes['DPNOM'] == 'CUNDINAMARCA') & (muertes['DPMP'] == 'VILLAVICENCIO'), 'DPNOM'] = 'META'

In [152]:
muertes

,region_Def,DPNOM,DPMP,Nombre_Departamento_Res,Nombre_Municipio_Res,sitio_def,ANIO,mes_def,sexo,estado_civil,grupo_edad,nivel_edu,seg_social,asistencia_med,causa_basica,Fecha
0,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,MEDELLÍN,Casa,2009,1,Femenino,"Unión Libre, Divorciado/Otro",40-54 años,Secundaria,Subsidiado,SI,Parte no especificada,2009-01
1,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,MEDELLÍN,Casa,2009,1,Femenino,Viudo,65-74 años,Primaria,Contributivo,SI,Parte no especificada,2009-01
2,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,SABANETA,Hospital o Clínica,2009,1,Femenino,Casado,40-54 años,Secundaria,Contributivo,SI,Parte no especificada,2009-01
3,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,BELLO,Hospital o Clínica,2009,1,Femenino,Casado,40-54 años,Secundaria,Contributivo,SI,Parte no especificada,2009-01
4,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,MEDELLÍN,Casa,2009,1,Femenino,"Unión Libre, Divorciado/Otro",40-54 años,Secundaria,Contributivo,SI,Parte no especificada,2009-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41605,Pacífica,VALLE DEL CAUCA,CALI,VALLE DEL CAUCA,CALI,Hospital o Clínica,2023,1,Femenino,Soltero,55-64 años,No especificado,Contributivo,SI,Parte no especificada,2023-01
41606,Pacífica,VALLE DEL CAUCA,CALI,VALLE DEL CAUCA,CALI,Hospital o Clínica,2023,1,Femenino,"Unión Libre, Divorciado/Otro",55-64 años,No especificado,Contributivo,SI,Parte no especificada,2023-01
41607,Pacífica,VALLE DEL CAUCA,CALI,VALLE DEL CAUCA,CALI,Hospital o Clínica,2023,12,Femenino,Soltero,55-64 años,No especificado,Contributivo,SI,Parte no especificada,2023-12
41608,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,MEDELLÍN,Otro Sitio,2023,12,Femenino,Viudo,75+ años,Primaria,Contributivo,SI,Parte no especificada,2023-12
41609,Andina,CUNDINAMARCA,FACATATIVÁ,CUNDINAMARCA,BOGOTA DC,Hospital o Clínica,2023,11,Femenino,Viudo,65-74 años,Secundaria,Contributivo,SI,Parte no especificada,2023-11

In [153]:
muertes['DPNOM'].unique()

array(['ANTIOQUIA', 'ATLÁNTICO', 'CUNDINAMARCA', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CAUCA', 'CESAR', 'CÓRDOBA', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO', 'NORTE DE SANTANDER',
       'QUINDIO', 'RISARALDA', 'SANTANDER', 'SUCRE', 'TOLIMA',
       'VALLE DEL CAUCA', 'CASANARE',
       'ARCHIPIÉLAGO DE SAN ANDRÉS Y PROVIDENCIA Y SANTA CATALINA',
       'CHOCÓ', 'ARAUCA', 'GUAVIARE', 'PUTUMAYO', 'VICHADA', 'AMAZONAS',
       'VAUPÉS', 'GUAINÍA'], dtype=object)

In [154]:
# muertes.query(" DPNOM == 'CUNDINAMARCA' and DPMP == 'VILLAVICENCIO' ")

In [155]:
# muertes.at[27488, 'DPNOM'] = 'META'

In [156]:
muertes = muertes.groupby(['DPNOM', 'DPMP', 'ANIO']).size().reset_index(name='FALLECIDAS').copy()
muertes

         DPNOM            DPMP  ANIO  FALLECIDAS
0     AMAZONAS         LETICIA  2011           1
1     AMAZONAS         LETICIA  2013           1
2     AMAZONAS         LETICIA  2015           2
3     AMAZONAS         LETICIA  2017           1
4     AMAZONAS         LETICIA  2018           1
...        ...             ...   ...         ...
4521   VICHADA  PUERTO CARREÑO  2010           1
4522   VICHADA  PUERTO CARREÑO  2016           1
4523   VICHADA  PUERTO CARREÑO  2017           1
4524   VICHADA  PUERTO CARREÑO  2021           1
4525   VICHADA   SANTA ROSALÍA  2011           1

[4526 rows x 4 columns]

In [166]:
muertes[['DPNOM', 'DPMP']].drop_duplicates()

                DPNOM            DPMP
0            AMAZONAS         LETICIA
8           ANTIOQUIA       ABEJORRAL
13          ANTIOQUIA           AMAGÁ
20          ANTIOQUIA          AMALFI
26          ANTIOQUIA           ANDES
...               ...             ...
4508  VALLE DEL CAUCA          ZARZAL
4519           VAUPÉS            MITÚ
4520          VICHADA    LA PRIMAVERA
4521          VICHADA  PUERTO CARREÑO
4525          VICHADA   SANTA ROSALÍA

[895 rows x 2 columns]

In [158]:
poblacion

,DP,DPNOM,DPMP,MPIO,ANIO,Mujeres_40,Mujeres_41,Mujeres_42,Mujeres_43,Mujeres_44,...,Mujeres_77,Mujeres_78,Mujeres_79,Mujeres_80,Mujeres_81,Mujeres_82,Mujeres_83,Mujeres_84,Mujeres_85 y más,TOTAL_MUJERES
0,91,AMAZONAS,EL ENCANTO,91263,2009,13,12,11,10,9,...,0,0,1,6,3,4,3,3,15,205
1,91,AMAZONAS,EL ENCANTO,91263,2010,13,12,11,11,10,...,0,0,1,5,5,4,4,4,17,213
2,91,AMAZONAS,EL ENCANTO,91263,2011,12,11,10,9,10,...,1,1,1,4,4,4,3,4,19,224
3,91,AMAZONAS,EL ENCANTO,91263,2012,11,11,10,9,10,...,2,1,2,2,3,3,3,3,15,229
4,91,AMAZONAS,EL ENCANTO,91263,2013,9,10,9,9,10,...,3,3,3,1,3,2,2,3,13,233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16825,99,VICHADA,SANTA ROSALÍA,99624,2019,24,24,23,24,21,...,2,3,3,2,2,1,2,1,8,505
16826,99,VICHADA,SANTA ROSALÍA,99624,2020,26,27,24,24,24,...,4,2,3,2,2,2,1,3,9,547
16827,99,VICHADA,SANTA ROSALÍA,99624,2021,27,26,26,24,24,...,5,2,3,3,3,2,1,3,9,571
16828,99,VICHADA,SANTA ROSALÍA,99624,2022,29,27,26,24,26,...,4,3,4,3,3,1,2,3,8,602
16829,99,VICHADA,SANTA ROSALÍA,99624,2023,28,28,28,26,26,...,4,2,4,2,3,2,1,3,10,624

In [160]:
# Obtener pares únicos
muertes_pares = muertes[['DPNOM', 'DPMP']].drop_duplicates()
poblacion_pares = poblacion[['DPNOM', 'DPMP']].drop_duplicates()

# Comparar: pares en muertes pero no en población
solo_muertes = muertes_pares.merge(poblacion_pares, on=['DPNOM', 'DPMP'], how='left', indicator=True)
solo_muertes = solo_muertes[solo_muertes['_merge'] == 'left_only']

# Comparar: pares en población pero no en muertes
solo_poblacion = poblacion_pares.merge(muertes_pares, on=['DPNOM', 'DPMP'], how='left', indicator=True)
solo_poblacion = solo_poblacion[solo_poblacion['_merge'] == 'left_only']

In [161]:
muertes_set = set(tuple(x) for x in muertes[['DPNOM', 'DPMP']].drop_duplicates().values)
poblacion_set = set(tuple(x) for x in poblacion[['DPNOM', 'DPMP']].drop_duplicates().values)

# Diferencias
solo_en_muertes = muertes_set - poblacion_set
solo_en_poblacion = poblacion_set - muertes_set

In [162]:
solo_en_muertes

set()

In [164]:
len(solo_en_poblacion)

227